.list {
    margin: 22px;
}

.block {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
    background: #f2fbff;
    border: 1px solid #c4cbcf;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(128, 128, 128, 0.1);
    &:after, &:before {
        content: '';
        border: solid transparent;
        position: absolute;
        left: 30px;
        margin-left: -12px;
        top: -24px;
        width: 0;
    }
    &:before {
        border-top-color: #c4cbcf;
        border-width: 12px;
        transform: rotate(180deg);
     }
     &:after {
        border-top-color: #f2fbff;
        border-width: 13px;
        margin-left: -13px;
        transform: rotate(180deg);
     }
    
}

.list_name {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    padding-right: 10px;
}
.list_wrap {
    display: flex;
    margin-bottom: 10px;
}
